/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

/*================================ End Of Reset ===============================*/



@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed);
body,
*,
*:after,
*:before  {
  box-sizing:border-box;
    

/*  p, li, sub, sup, span, input {
    font-family: $globalfont, serif;
    @include font(1.5);
    color: $fontcolor;
    // opacity: 0.85;
  }
  a {
    color: $linkcolor;
    font-family: $linkfont;
    @include font(1.5);
    text-decoration: none;
  }
  h1  {
    font-family: $h-font;
    @include font(1.5);
    color: $fontcolor;
  }
  h2  {
    font-family: $h-font;
    @include font(1.3);
    color: $fontcolor;
  }
  h3 {
      font-family: $h-font;
      @include font(1.1);
      color: $fontcolor;
  }
  h4 {
      font-family: $h-font;
      @include font(1);
      color: $fontcolor;
  }
  h5 {
      font-family: $h-font;
      @include font(0.8);
      color: $fontcolor;
  }
  h6 {
      font-family: $h-font;
      @include font(0.8);
      color: $fontcolor;
  }*/  
}
body {
  background:#78ADC0;
}
.container {
  /*z-index: 1;*/
  position: relative;
  width: 100%;
  margin:3.5em auto;
  font-family: 'Open Sans Condensed', sans-serif;
  table {
    /*table-layout:fixed;*/
    overflow: visible;
    /*position: relative;*/
    width: 70%;
    margin:0 5%;
    /*background:blue;*/

  }

  thead > tr {
    top:0;
    position: fixed;
    /*height: 5em;*/
  

    width: 100%;
    /*padding:20px;*/
    /*overflow: visible;*/
    z-index: 1
  }
    
    .small {
      width: 50px;
    }
    .smallish {
      width: 60px;
    }
    .medium {
      width: 65px;
    }
    .large {
      width: 100px;
    }
    .largest {
      width: 200px;
    }
  th {
    font-size: 13px;
    padding: 1em 0.6em 0.5em 0.6em;
    width: 100%;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;


  }
  
  tr:nth-child(even) {
    background: #78ADC0;
    background: #BEF0E7;
    background: #C9FAFA;
  }

  tr:nth-child(odd) {
    background:#618D9B;
    background:#A7D3CC;
    background:#ACD6D6;
  }
  thead > tr:first-child {
    background:#78ADC0;
  }
  td {
      /*overflow: hidden;*/
      /*max-width: 400px;*/
      /*word-wrap: break-word;*/
    }
  tbody {
    margin:4em auto;
    position: relative;
    /*width: 80%;*/

    input {
      background:transparent;
      border: none;
      position: relative;
      padding:1.2em;
      font-size: 9px;

    }

    
  }
}







